{% extends 'base.html.twig' %}
{% block body %}
{% for item in quizz %}
            <img src={{item.img}} height="150" width="150">
            <a href="quizz/{{ item.id }}">{{ item.name }}</a>
        {% endfor %}
{% endblock %}